<mat-sidenav-container>
    <mat-sidenav mode="side">
        <h3>Hello from sidenav</h3>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayoutAlign="space-between center">
                <mat-icon>local_hospital</mat-icon>
                <a routerLink="home">Home</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayoutAlign="space-between center"> 
                    <mat-icon>face</mat-icon>
                    <a routerLink="login">Login</a>
                </div>
                <div fxLayoutAlign="space-between center">
                    <mat-icon>account_box</mat-icon>
                    <a routerLink="registro">Registro</a>
                </div>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>